/*
 * -------------------------------------------------
 *  nf-core/pacbioaaml Nextflow config file
 * -------------------------------------------------
 * Custom config for local PacBio BAM processing.
 */

params {
  // Input sample metadata CSV
  input_metadata = 'data/sample_metadata.csv'

  // Where input BAMs are located
  base_bam_dir = 'data'

  // Runtime options 
  use_pbmerge = false

  // reference genome 
  reference_genomedir = "${projectDir}/reference_genome"
  
  // Where to store results
  outdir = 'data'

  // Logging / output options
  tracedir = "${params.outdir}/pipeline_info"
  monochrome_logs = true
  email = false
}

// Default container for all processes
process {
    cpus = 30
    memory = '1500 GB'
    time = '5h'
    executor = 'local'

    // Default container for all processes
    container = 'containers/E3999_PacBio_LR_YN_BuildContainer.sif'
}


process {
    cpus = 30
    memory = '1500 GB'
    time = '5h'
    executor = 'local'

    // Use absolute path to avoid remounting issues
    container = "${projectDir}/containers/E3999_PacBio_LR_YN_BuildContainer.sif"

    // Improve caching and error resilience
    cache = 'deep'
    errorStrategy = 'retry'
}

singularity {
    enabled = true
    autoMounts = true
    cacheDir = "${projectDir}/containers"
    runOptions = '--cleanenv'
}


docker {
  enabled = false
}
